/* Ogólne tło strony */
body {
    background-color: #000; /* Czarny kolor tła */
    color: #f4f4f4; /* Jasny tekst */
    font-family: 'Luckiest Guy', Arial, sans-serif; /* Czcionka z Google Fonts */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Nagłówek */
header {
    position: relative;
    padding: 20px 0;
    border-bottom: 2px solid #007bff;
}

header h1 {
    font-size: 3rem;
    color: #ff4500;
    text-shadow: 2px 2px 4px #000, -2px -2px 4px #fff; /* Biała obramówka */
    margin: 0;
}

header p {
    color: #d4d4d4;
    font-size: 1.2rem;
}

/* Grafika ninja po bokach */
header::before, header::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

header::before {
    left: 10px;
    background-image: url('ninja lewo-Photoroom (1).jpg'); /* Nowa grafika ninja po lewej */
}

header::after {
    right: 10px;
    background-image: url('ninja prawo-Photoroom (1).png'); /* Grafika ninja po prawej */
}
